<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>

  <!-- firebse Scripts -->
  <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
</head>

<body>
  <h1 class="display-1" style="text-align: center; margin: 10px;">Sign Up</h1>
  <div class="row">
    <div class="col-sm-3"> </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <form id="signup">
            <label>Name</label>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name" name="fName">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name" name="lName">
              </div>
            </div>
            <label>Login</label>
            <input type="text" name="login" class="form-control" placeholder="Email id">
            <label>Password (Minimum 6 characters)</label>
            <input type="password" name="password" minlength="6" class="form-control">
            <label>Sun Sign</label>
            <!-- <input type="text" name="sunSign" class="form-control"> -->
            <select name="sunSign" id="sunsign-selection">
              <option value="none" selected disabled hidden>Please select a sunSign</option>
              <option value="Aries">Aries</option>
              <option value="Taurus">Taurus</option>
              <option value="Gemini">Gemini</option>
              <option value="Cancer">Cancer</option>
              <option value="Leo">Leo</option>
              <option value="Virgo">Virgo</option>
              <option value="Libra">Libra</option>
              <option value="Scorpio">Scorpio</option>
              <option value="Capricon">Capricon</option>
              <option value="Sagittarius">Sagittarius</option>
              <option value="Aquarius">Aquarius</option>
              <option value="Pisces">Pisces</option>
            </select>
            <button type="submit" name="button" class="btn btn-outline-secondary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3"> </div>
  </div>



  <script>
    window.addEventListener("DOMContentLoaded", () => {
      const firebaseConfig = {
        // Enter your firebase config file here
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);



      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
      var db = firebase.firestore();
      document
        .getElementById("signup")
        .addEventListener("submit", (event) => {
          event.preventDefault();
          const login = event.target.login.value;
          const password = event.target.password.value;
          const sunSign = document.getElementById("sunsign-selection").value;
          const fName = event.target.fName.value;
          const lName = event.target.lName.value;
          console.log(sunSign);
          firebase
            .auth()
            .createUserWithEmailAndPassword(login, password)
            .then(() => {
              localStorage.removeItem("user-sign");
              localStorage.setItem("user-sign", sunSign);
              return db.collection('sampleData').doc(login).set({
                sign: sunSign,
                email: login,
                fName: fName,
                lName: lName,
              });
            })
            .then(() => {
              return firebase.auth().signOut();
            })
            .then(() => {
              window.location.assign("/profile");
            });
          return false;
        });
    });
  </script>

</body>

</html>